*.lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.[oa]
# Archivos proyecto concreto
*.nyc_output
aux.txt
node_modules
provision/playbook.retry
package-lock.json
provision/salidaAcopio.txt
orquestacion/.vagrant
orquestacion/datosJson
provision/ansible_hostsPREVIO.txt
*~
*.#
**/.DS_Store
# Ignore Mac DS_Store files
.DS_Store

.DS_Store